/*
Theme Name: BeLocal Group Custom Theme
Theme URI: http://wordpress.org/themes/
Author: Teodoro Salgado
Author URI: http://tjsalgado.com/
Description: A custom theme developed for the BeLocal Group
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: belocal
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Global Styling
  1.1 BeLocal Main Colors
  1.2 Bootstrap Overrides
  1.3 Containers
  1.4 Navigation Bar
  1.5 Footer
  1.6 Form Submission
2.0 Front Landing Page
  2.1 Jumbotron
  2.2 Our Work
  2.3 Initiatives
  2.4 BeLocal Process
  2.5 Opportunities
  2.6 Opt In Email Form
3.0 Main Blog Posts
  3.1 Blog Posts Global
  3.2 Blog Posts Navbar Masthead
  3.3 Nav Links
  3.4 Active State Carets
  3.5 Blog Name and Description
  3.6 Main Column and Sidebar Layout
  3.7 Sidebar Modules For Boxing Content
  3.8 Pagination
  3.9 Blog Posts
  3.10 Blog Footer
4.0 Login Template
  4.1 General Styles
  4.2 Card Component
  4.3 Form Styles
5.0 About Us Page
  5.1 Landing Hero
  5.2 Meet The Team
  5.3 Section Background Colors
  5.4 Text Colors and Sizes
  5.5 Buttons
  5.6 Modal Styling
  5.7 Paddings
6.0 Contact Us Page
  6.1 Landing Hero
  6.2 Text
  6.3 Google Map
  6.4 Opt In Email Form
7.0 BuddyPress Registration Override Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 - Global Styling
--------------------------------------------------------------*/
body, html {
  font-family: "Raleway", sans-serif !important;
  height: 100%;
}
.whiteBorder {
  border: 2px solid #d0d0d0;
  padding: 10px;
}
.readText {
  color: #aaaaaa;
}
/*--------------------------------------------------------------
1.1 - BeLocal Main Colors
--------------------------------------------------------------*/
.blue {
  color: #1371d6;
}

.green {
  color: #50BF41;
}

.green1 {
  color: #C5E1A5;
}

.green2 {
  color: #AED581;
}

.green3 {
  color: #8BC34A;
}

.green4 {
  color: #689F38;
}

.green5 {
  color: #33691E;
}
/*--------------------------------------------------------------
1.2 - Bootstrap Overrides
--------------------------------------------------------------*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #50BF41 !important;
  background: none !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #50BF41 !important;
  text-decoration: none;
  background-color: transparent !important;
  outline: 0;
}

.sidebar-module li,
.sidebar-module ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-module a {
  color: #50BF41;
}
/*--------------------------------------------------------------
1.3 - Containers
--------------------------------------------------------------*/
.content {
  background-color: #eeeeee;
}

.maxContainer {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*--------------------------------------------------------------
1.4 - Navigation Bar
--------------------------------------------------------------*/
.navbar-default {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: none !important;
}

ul.navbar-nav {
  font-size: 1.4em;
}

.navbar .navbar-nav {
  display: inline-block;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-brand {
  padding: 12px;
}

.navbar .navbar-brand img {
  height: 100%;
  width: auto;
}

ul.nav a {
  color: #333 !important;
}

ul.nav a:hover {
  color: #50BF41 !important;
}
/*--------------------------------------------------------------
1.5 - Footer
--------------------------------------------------------------*/
footer {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer a {
  color: #50BF41;
}
footer a:hover,
footer a:focus {
  color: #1371d6;
  text-decoration: none;
}

footer p {
  display: block;
  margin: 0;
}

footer h5 {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 25px;
}

footer .footer-nav .menu-footer-navigation{
  list-style: none;
}

footer .footer-nav .menu-footer-navigation li {
  display: inline-block;
}
/*--------------------------------------------------------------
1.6 - Form Submission
--------------------------------------------------------------*/
.error{
  padding: 5px 9px;
  margin-top: 5px;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid #ff0000;
  color: #ffffff;
}

.success{
  padding: 5px 9px;
  margin-top: 5px;
  background: rgba(0, 255, 0, 0.2);
  border: 1px solid #00ff00;
  color: #ffffff;
}
/*--------------------------------------------------------------
2 - Front Landing Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Jumbotron
--------------------------------------------------------------*/
.jumbotron {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #fff !important;
  width: 700px;
}

.jumbotron img {
  width: 100%;
  height: auto;
}
/*--------------------------------------------------------------
2.2 - Our Work
--------------------------------------------------------------*/
#work {
  padding-bottom: 50px;
}
#work h1 {
  font-weight: 300;
  margin-top: 50px;
  font-size: 3em;
  color: #414141;
}

#work h2 {
  font-weight: 300;
  margin-top: 40px;
  font-size: 1.8em;
  color: #414141;
}

#work h3 {
  font-weight: 300;
  color: #606060;
  line-height: 35px;
}

#work p {
  font-size: 1.2em;
  font-weight: 300;
  color: #787878;
}
/*--------------------------------------------------------------
2.3 - Initiatives
--------------------------------------------------------------*/
#initiativesHome {
  padding-top: 50px;
  padding-bottom: 150px;
}

#initiativesHome h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 100px;
}

#initiativesHome span {
  font-size: 100px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  transition: background-color 0.25s, border 0.25s;
  border-radius: 0;
  font-weight: 300;
}

@media screen and (max-width: 650px) {
  #initiativesHome span {
    font-size: 15vw;
  }
}

#initiativesHome span:hover {
  background-color: #50BF41;
  border: 1px solid #50BF41;
  color: #fff;
}

#initiativesHome a:hover {
  text-decoration: none;
}
/*--------------------------------------------------------------
2.4 - BeLocal Process
--------------------------------------------------------------*/
#process {
  padding-bottom: 50px;
}

#process h1 {
  font-weight: 300;
  margin-top: 50px;
  font-size: 3em;
  color: #414141;
}

#process h2 {
  margin-top: 30px;
  font-weight: 300;
}

#process h3 {
  font-weight: 300;
  color: #606060;
  line-height: 35px;
}

#process p {
  font-weight: 300;
  font-size: 1.2em;
  color: #787878;
}
/*--------------------------------------------------------------
2.5 - Opportunities
--------------------------------------------------------------*/
#opportunities h1 {
  color: #fff;
  font-weight: 300;
  margin-top: 50px;
}

#opportunities p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 50px;
}

#opportunities .btn {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 50px;
  color: #fff;
  width: 135px;
  transition: background-color 0.2s, border 0.2s, width 0.1s;
  border-radius: 0;
}

#opportunities .btn:hover {
  background-color: #50BF41;
  border: 1px solid #50BF41;
  color: #fff;
  width: 140px;
}

#opportunities i.fa {
  color: #ffffff;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 0 30px;
  transition: color .2s ease;
}

#opportunities i.fa:hover {
  color: #50BF41;
}
/*--------------------------------------------------------------
2.6 - Opt In Email Form
--------------------------------------------------------------*/
.frontOptinForm {
  margin: 75px auto 25px auto;
  max-width: 600px;
  font-family: "Raleway", sans-serif;
}

.frontOptinForm h2 {
  font-size: 40px;
  color: #ffffff;
}
@media screen and (max-width: 650px) {
  .frontOptinForm h2 {
    font-size: 12vw;
  }
}

.frontOptinForm .es_widget_form .es_widget_form_name,
.frontOptinForm .es_widget_form .es_widget_form_email {
  font-size: 20px;
  color: #eeeeee;
}

.frontOptinForm .es_widget_form .es_textbox .es_textbox_class {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #ffffff;
  padding: 10px 5px;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.frontOptinForm .es_widget_form .es_button #es_txt_button {
  background-color: #50BF41;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 22px;
  padding: 10px 0;
  border-radius: 0;
}
.frontOptinForm .es_widget_form .es_button #es_txt_button:hover {
  background-color: #37802d;
}
/*--------------------------------------------------------------
3.0 - Main Blog Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Blog Posts Global
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif, Georgia, serif;
  color: #555;
}
/*--------------------------------------------------------------
3.2 - Blog Posts Navbar Masthead
--------------------------------------------------------------*/
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
/*--------------------------------------------------------------
3.3 - Nav Links
--------------------------------------------------------------*/
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}
/*--------------------------------------------------------------
3.4 - Active State Carets
--------------------------------------------------------------*/
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
/*--------------------------------------------------------------
3.5 - Blog Name and Description
--------------------------------------------------------------*/
.blog-header {
  padding-top: 50px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
}
/*--------------------------------------------------------------
3.6 - Main Column and Sidebar Layout
--------------------------------------------------------------*/
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
/*--------------------------------------------------------------
3.7 - Sidebar Modules For Boxing Content
--------------------------------------------------------------*/
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
3.8 - Pagination
--------------------------------------------------------------*/
.pager {
  margin-bottom: 60px;
  text-align: left;
}

.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
/*--------------------------------------------------------------
3.9 - Blog Posts
--------------------------------------------------------------*/
.blog-post {
  margin-bottom: 60px;
}

.blog-post a{
  color: #50BF41;
  transition: color .2s ease;
}

.blog-post a:hover{
  text-decoration: none;
  color: #AED581;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
/*--------------------------------------------------------------
3.10 - Blog Footer
--------------------------------------------------------------*/
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
4 - Login Template
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - General Styles
--------------------------------------------------------------*/
.loginContainer {
  height: 100vh;
  /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  background-color: #c1c1c1;
  padding-top: 150px;
}

.card-container.card {
    max-width: 350px;
    padding: 20px 40px;
}

.card-container h4 {
  color: #6e6b6b;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
/*--------------------------------------------------------------
4.2 - Card Component
--------------------------------------------------------------*/
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 10px 25px 30px;
    margin: 0 auto 0;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*--------------------------------------------------------------
4.3 - Form Styles
--------------------------------------------------------------*/
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #50BF41;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/*--------------------------------------------------------------
5 - About Us Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 - Landing Hero
--------------------------------------------------------------*/
#aboutHeroImage {
  background-image: url('img/aboutHero2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 75vh;
}

.aboutOverlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.aboutHero {
  height: 100%;
}

.aboutHeroHeading {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 7em;
  color: #ffffff;
}
@media screen and (max-width: 650px) {
  .aboutHeroHeading {
    font-size: 15vw;
  }
}
/*--------------------------------------------------------------
5.2 - Meet The Team
--------------------------------------------------------------*/
.aboutTheTeam {
  padding-bottom: 35px;
}

.aboutTheTeam img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.aboutTheTeam .caption {
  color: #606060;
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
}

.aboutTheTeam img:hover {
  cursor: pointer;
}
/*--------------------------------------------------------------
5.3 - Section Background Colors
--------------------------------------------------------------*/
.about-white-bg {
  background-color: #ffffff;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 75px;
}

.about-offwhite-bg {
  background-color: #f2f2f2;
  width: 100%;
}
/*--------------------------------------------------------------
5.4 - Text Colors and Sizes
--------------------------------------------------------------*/
.aboutPage .aboutMainHeading {
  text-transform: uppercase;
  color: #414141;
  font-size: 4em;
  font-weight: 300;
}
@media screen and (max-width: 650px) {
  .aboutPage .aboutMainHeading {
    font-size: 10vw;
  }
}

.aboutPage .aboutSubText {
  color: #606060;
  font-size: 1.8em;
  font-weight: 300;
  max-width: 750px;
  margin: 10px auto;
  line-height: 35px;
}

.aboutPage .process-heading {
  font-size: 2.5em;
  margin-top: 60px;
  font-weight: 500;
}

.aboutPage .process-text {
  font-weight: 300;
  font-size: 1.5em;
  max-width: 800px;
  margin: 0 auto;
  color: #606060;
}

.aboutPage .aboutTheTeam .aboutSubText {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.3em;
}

.aboutPage .aboutTheTeam a {
  color: #414141;
}
.aboutPage .aboutTheTeam a:hover,
.aboutPage .aboutTheTeam a:focus {
  color: #1371d6;
  text-decoration: none;
}
/*--------------------------------------------------------------
5.5 - Buttons
--------------------------------------------------------------*/
.aboutPage .green-btn {
  background-color: transparent;
  border: 1px solid #50BF41;
  outline: none;
  margin: 10px 0 10px 0;
  color: #50BF41;
  width: 135px;
  transition: background-color 0.2s, border 0.2s, width 0.1s;
  border-radius: 0;
}

.aboutPage .green-btn:hover {
  background-color: #50BF41;
  border: 1px solid #50BF41;
  color: #fff;
  width: 140px;
}

.aboutPage .blue-btn {
  background-color: transparent;
  border: 1px solid #1371d6;
  outline: none;
  margin: 10px 0 10px 0;
  color: #1371d6;
  width: 135px;
  transition: background-color 0.2s, border 0.2s, width 0.1s;
  border-radius: 0;
}

.aboutPage .blue-btn:hover {
  background-color: #1371d6;
  border: 1px solid #1371d6;
  color: #fff;
  width: 140px;
}

.aboutPage .gray-btn {
  background-color: transparent;
  border: 1px solid #272727;
  outline: none;
  margin: 10px 0 10px 0;
  color: #272727;
  width: 135px;
  transition: background-color 0.2s, border 0.2s, width 0.1s;
  border-radius: 0;
}

.aboutPage .gray-btn:hover {
  background-color: #272727;
  border: 1px solid #272727;
  color: #fff;
  width: 140px;
}
/*--------------------------------------------------------------
5.6 - Modal Styling
--------------------------------------------------------------*/
.modal .modal-content .modal-body {
  padding-bottom: 30px;
}

.modal .modal-content img{
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.modal .modal-content i {
  color: #272727;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 40px;
}

.modal .modal-content i:hover {
  cursor: pointer;
  color: #50BF41;
}

.modal .modal-content .modal-body h1 {
  color: #414141;
  font-weight: 300;
  font-size: 3.7em;
}
@media screen and (max-width: 600px){
  .modal .modal-content .modal-body h1 {
    font-size: 10vw;
  }
}

.modal .modal-content .modal-body p{
  color: #414141;
  font-size: 1.2em;
  max-width: 650px;
  margin: 0 auto;
  line-height: 30px;
}

.modal .about-white-bg-modal  {
  background-color: #ffffff;
}

.modal .about-offwhite-bg-modal  {
  background-color: #ebebeb;
}

.inline-modal:hover {
  cursor: pointer;
  color: #1371d6;
}
/*--------------------------------------------------------------
5.7 - Paddings
--------------------------------------------------------------*/
.mediumTopPadding {
  padding-top: 65px;
}

.mediumBottomPadding {
  padding-bottom: 65px;
}
/*--------------------------------------------------------------
6 - Contact Us Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 - Landing Hero
--------------------------------------------------------------*/
#contactHeroImage {
  background-image: url('img/contactHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 75vh;
}
/*--------------------------------------------------------------
6.2 - Text
--------------------------------------------------------------*/
.contactHeading {
  font-size: 50px;
  color: #50BF41;
}
.contactSubText {
  font-size: 40px;
}
.contact-container a {
  color: inherit;
}
.contact-container a:hover {
  text-decoration: none;
  color: #1371d6;
}
@media screen and (max-width: 650px) {
  .contactHeading,
  .contactOptinForm h2 {
    font-size: 12vw;
  }
  .contactSubText {
    font-size: 7vw;
  }
}
/*--------------------------------------------------------------
6.3 - Google Map
--------------------------------------------------------------*/
.map iframe {
  pointer-events: none;
  filter: grayscale(100%);
  transition: filter .75s;
}
/*--------------------------------------------------------------
6.3 - Opt In Email Form
--------------------------------------------------------------*/
.contactOptinForm {
  margin: 50px auto 50px auto;
  max-width: 600px;
  font-family: "Raleway", sans-serif;
}

.contactOptinForm h2 {
  font-size: 50px;
  color: #414141;
}
@media screen and (max-width: 650px) {
  .contactOptinForm h2 {
    font-size: 12vw;
  }
}

.contactOptinForm .es_widget_form .es_widget_form_name,
.contactOptinForm .es_widget_form .es_widget_form_email {
  font-size: 20px;
  color: #606060;
}

.contactOptinForm .es_widget_form .es_textbox .es_textbox_class {
  background: transparent;
  border: 2px solid #50BF41;
  padding: 10px 5px;
  font-size: 16px;
  color: #23701e;
  width: 100%;
  text-align: center;
}

.contactOptinForm .es_widget_form .es_button #es_txt_button {
  background-color: #50BF41;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 22px;
  padding: 10px 0;
  border-radius: 0;
}
.contactOptinForm .es_widget_form .es_button #es_txt_button:hover {
  background-color: #37802d;
}
/*--------------------------------------------------------------
7 - BuddyPress Registration Override Styles
--------------------------------------------------------------*/
.registration-page-wrap {
  background-color: #f2f2f2;
  min-height: 100vh;
  color: #414141;
  padding-top: 100px;
  padding-bottom: 75px;
}

.registration-page-wrap .container .blog-header {
  padding-top: 10px;
}

#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text],
#buddypress .groups-members-search input[type=search],
#buddypress .groups-members-search input[type=text] {
	border: 1px solid #414141 !important;
	background: none !important;
	border-radius: 0;
	color: #606060 !important;
	font: inherit;
	font-size: 100%;
	padding: 6px;
  margin-bottom: 10px;
}

#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #basic-details-section input[type=email],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
	width: 90% !important;
}

#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress .standard-form button,
#buddypress a.button,
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress input[type=submit],
#buddypress ul.button-nav li a,
a.bp-title-button {
  background-color: transparent !important;
  border: 1px solid #50BF41 !important;
  outline: none;
  color: #50BF41 !important;
  font-style: normal !important;
  font-weight: 700 !important;
  transition: background-color 0.2s, border 0.2s, width 0.1s;
  border-radius: 0;
}
#buddypress .comment-reply-link:hover,
#buddypress .generic-button a:hover,
#buddypress .standard-form button:hover,
#buddypress a.button:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress input[type=submit]:hover,
#buddypress ul.button-nav li a:hover,
a.bp-title-button:hover {
  background-color: #50BF41 !important;
  border: 1px solid #50BF41 !important;
  color: #fff !important;
}
